<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body ng-app="todoApp" ng-controller="todoCtrl">
		<section class="todoapp">
			<header class="header">
				<h1>todoList</h1>
				<form ng-submit="addTodo(todo)">
					<input ng-model="todo" class="new-todo" placeholder="What needs to be done?" autofocus>
				</form>
			</header>
			<section class="main">
				<input ng-model="AllStatus" ng-click="changeAllStatus()" ng-hide="!Hlist.length" class="toggle-all" type="checkbox">
				<ul class="todo-list">
					<li focus-directive ng-repeat="todo in Hlist | filter: todoComStatus track by $index" ng-class="{completed: todo.completed, editing: temp == todo}" focus-directive>
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label  ng-bind="todo.text" ng-dblclick="ediTodo(todo)"></label>
							<button ng-click="delTodo(todo)" class="destroy"></button>
						</div>
						<input class="edit" ng-model="todo.text" ng-blur="saveTodo(todo)">
					</li>
				</ul>
			</section>
			<footer ng-hide="!Hlist.length" class="footer">
				<span class="todo-count"><strong ng-bind="item"></strong> item left</span>
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<button ng-show="clearShow" ng-click="clearCompleted()" class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<script src="js/angular.js"></script>
		<script src="js/services.js"></script>
		<script src="js/app.js"></script>
		<script src="js/directive.js"></script>

	</body>
</html>
